.header {
  margin: 15px 0 15px;
  @media (max-width: 568px) {
    padding: 35px 0 50px;
  }

  &__container {
    height: 100%;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      line-height: 40px;
      text-align: center;
    }

    @media (max-width: 568px) {
      line-height: 30px;
    }
  }

  &__nav {
    display: flex;
    margin-left: auto;

    @media (max-width: 768px) {
      margin: 10px auto;
    }

    @media (max-width: 568px) {
      padding: 45px;
      margin: auto;
      flex-direction: column;
    }
  }

  &__nav-link {
    text-decoration: none;
    font-size: 14px;
    color: black;
    margin-right: 30px;

    &--active {
      font-weight: 600;
    }

    @media (max-width: 768px) {
      margin: 0 20px;
    }

    @media (max-width: 568px) {
      margin: 0;
    }
  }

  &__button {
    font-size: 16px;
    color: #2f70fe;
    width: 134px;
    height: 42px;
    align-self: center;
    border-color: #2f70fe;
    background-color: transparent;
    @media (max-width: 568px) {
      margin-top: 40px;
      padding: 10px 15px;
      font-size: 16px;
    }
  }
}
